/* Déclaration de font family */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

/*
Reset
*/
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		font-size: 62.5%;
	}

	body {
		background: #eee;

		color: #181818;
		font-family:'Ubuntu', sans-serif;
		font-weight: 300;
		font-size: 1.5rem;
	}

	main {
		width: 80rem;

		margin: 4rem auto;
		padding: 2rem;

		background: #a1c972;
		border-radius: 8px;
	}

/*
Formulaire du calcul
*/
	p {
		margin: 20px;
	}

	form {
		display: block;

		width: 95%;
		height: auto;

		margin: 3rem auto;
		padding: 5px;

		background: #eee;
		border-radius: 6px;
	}

	label {		
		display: block;

		margin: 4px;

		text-align: center;
	}

	input[type="text"] {
		display: block;

		width: 80%;
		height: 20px;

		margin: 10px auto;

		border: 0;
		border-radius: 3px;
	}

	input[type="submit"] {
		display: block;

		width: 80%;

		margin: 4px auto;
		padding: 5px 20px;

		background: #4CAF50;
		border: 0;
		border-radius: 4px;

		color: #fff;
		text-align: center;
	}

	input[type="submit"]:hover {
		background: #009688;
	}

/* 
Résultats du calcul
*/
	.correct {
		color: green;
		font-weight: bold;
		margin:0 0 1rem 0;
	}

	.faux {
		color: red;
		font-weight: bold;
		margin:0 0 1rem 0;
	}