/*
Reset
*/
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		font-size: 62.5%;
	}

	body {
		background: #eee;

		color: #181818;
		font-family: "Arial", sans-serif;
		font-size: 1.5rem;
	}

	main {
		width: 100rem;

		margin: 4rem auto;
		padding: 2rem;

		background: #ccc;
		border-radius: 8px;
	}

	p {
		display: none;
	}

/*
Formulaire du calcul
*/

	form {
		display: inline-block;

		width: 350px;
		height: auto;

		padding: 5px;

		background: #dddada;
		border-radius: 6px;
	}

	input[type="text"] {
		width: 10px;
		height: 20px;

		margin: 4px 0;
		
		background: #dddada;

		border: 0;
		border-bottom: 1px solid #000;
	}

	input[type="submit"] {
		display: block;

		padding: 5px 20px;

		background: #033c92;
		border: 0;
		border-radius: 4px;

		color: #fff;
	}

	input[type="submit"]:hover {
		background: #3f75c5;
	}

/* 
Résultats du calcul
*/
	section {		
		display: none;

		margin: 0 5px;
		padding: 5px;

		background: #dddada;
		border-radius: 6px;

		vertical-align: top;
	}