@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Reset */
	*{
		margin: 0;
		padding: 0;
	}
	html {
		font-size: 62.5%;
	}

	body {
		width: 100%;
		font-family: 'Ubuntu', sans-serif;
		font-size: 1.5rem;
	}

/* Formulaire Login */
	form {
		width:40%;
		margin: 0 auto;
		text-align: center;
	}
	form fieldset {
		width:40%;
		margin: 2rem auto;
		padding: 2rem;
		border:0;
		text-align: center;
		background-color: #eee;
		border-radius: 5px;
	}
	form label {
		font-size: 2rem;
		margin-bottom: .5rem;
	}
	form input {
		width: 85%;
		display: block;
		padding:1rem;
		margin:.2rem auto;
		border:1px solid gray;
		border-radius: 3px;
	}
	form#addProduct {
		margin:2rem auto;
	}
	input[type='submit'] {
		width:40%;
		margin: .2rem auto;
		padding:.5rem 2rem;
		border:0;
		border-radius: 3px;
		background-color: #009688;
		color:white;
		display:inline;
	}
	input[type='submit']:hover {
		background-color: #03c0ae;
	}
	textarea {
		width:85%;
		display: block;
	    padding: 1rem;
    	margin: .2rem auto;
	}


/* Form: Liste des produits */

	p#listeProduit {
		margin:1rem;
	}
	a#ajoutProduit {
		text-decoration: none;
		color:blue;
		font-size: 2.5rem;
	}
	a#ajoutProduit:hover {
		text-decoration: underline;
	}
	a#modifProduit {
		text-decoration: none;
		color:green;
		font-size: 2rem;
	}
	a#modifProduit:hover {
		text-decoration: underline;
	}
	a#supprProduit {
		text-decoration: none;
		text-align: center;
		color:red;
		font-size: 2rem;
	}

	h2 {
		width:100%;
		margin:1rem 0;
		text-align: center;
	}
	table {
		width:50%;
		margin:auto;
		border: 1px solid gray;
	}
	td {
		border: 1px dashed gray;
		font-size: 2rem;
		padding: .5rem 1rem;
	}
	th {
		padding: .5rem 1rem;
		text-transform: uppercase;
		font-size: 1.5rem;
	}


/* Sign Up */

	form a {
		width: 30%;
		margin: 0.2rem auto;
		background-color:  #009688;
		padding:.6rem 2.5rem;
		border:0;
		border-radius: 3px;
		color:white;
		text-decoration: none;
	}
	form a:hover {
		background-color: #03c0ae;
	}

	form a#signup {
		display: block;
		width: 30%;
		margin: 0.3rem auto;
		background-color:  #009688;
		padding:.6rem 2.5rem;
		border:0;
		border-radius: 3px;
		color:white;
		text-decoration: none;
	