/* ---------------------------------------------
--------------------- General ---------------------
------------------------------------------------*/
body {
	background: white;
	background: #88b388;
}


/* Attribution de la police par défaut */ 
h1, h2, h3, h4 {
	font-family: 'Dosis', sans-serif;
	padding:0;
	margin:0;
}




.container {


}

.container > p {
	font-family: 'Dosis', sans-serif;
	text-align: left;
	color: white;
	margin-bottom: 3px;
	margin-left: 5px;
	font-size: 14px;
}

/* ---------------------------------------------
------------------ topHeader -------------------
------------------------------------------------*/

.topHeader {
	/* Declarer le positionnement */
	width: 100%;
	height: 30px;

	/* Décoration */
	/*background-image: linear-gradient(180deg, #FFF, #eee);*/
	/*border-top-right-radius: 5px;*/
	/*border-top-left: radius: 5px;*/
}
.topHeader p {
	font-family: 'Dosis', sans-serif;
	/* Line-Height doit être la même taille que la height de la case pour pouvoir centrer au milieu */
	line-height: 30px; 
	margin: 0 10px 0 0;
	text-align: right;
	color: white;
	font-size: 14px;
}

.topHeader p a {
	text-decoration: none;
	color: white;
}
.topHeader p a:hover {
	text-decoration: underline;
}


/* ---------------------------------------------
--------------------- Header -------------------
------------------------------------------------*/

header {

	background-color: white;
/*	border-radius: 8px;*/

}

header .log {

	background-color: white;
}
header .log img {
	display: block;
	margin: auto;
}

header nav ul {
	text-align: center;
	list-style: none;
	margin:0;
	padding:0;
}

header nav ul li {
	background-color: white;
	padding: 0;
	display: block;
}

header nav ul li a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-size: 18px;

}
header nav ul li a:hover, 
header nav ul li.current a {
	color: #88b388;
	text-decoration: none;
}

/* Pour mettre la couleur dans toute l'espace de li, faut ajouter display:block */
header nav ul li a:hover {
	display:block;
	background: #eee;
	color: #88b388;

}

/* ---------------------------------------------
--------------------- Slider -------------------
------------------------------------------------*/
.carousel-inner img {
	display:block;
	margin: auto;
}



/* ---------------------------------------------
------- Section: Zone de contenu ---------------
------------------------------------------------*/
section {

}

section aside {

	border-radius: 8px;
	padding: 13px;
	box-sizing: border-box;
}
.mainphoto img {
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
}

aside p {
	font-family: 'Dosis', sans-serif;
	text-align: justify;
}

section article {


	border-radius: 8px;
	padding: 13px;
		box-sizing: border-box;
}

article p {
	font-family: 'Dosis', sans-serif;
	text-align: justify;
}

.about {
	width:100%;
	margin: 50px 0px;
}
.about h3 {
	text-align: center;
}


/* ---------------------------------------------
--------------------- Logo page -------------------
------------------------------------------------*/

.partenaire {
	border:1px solid white;
	border-radius: 8px;
	width:100%;
	float:left;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.partenaire h3 {
	text-align: center;
	padding: 15px;
}
.logo {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 8px;
}

.partenaire img {
	/*border: 1px solid white;*/
	height: auto;
	border-radius: 8px;
	overflow: hidden;

	/* Filtre CSS */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    /* Transition CSS */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

	/* Si on veut que filtre disparat avec le survol de souris, on ajoute ceci */
.partenaire img:hover {
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.portrait {
	border-radius: 8px;
	width:100%;
	float:left;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 40px;
}

.portrait h2 {
	text-align: center;
	padding: 15px;
}



/* ---------------------------------------------
--------------------- Footer -------------------
------------------------------------------------*/

footer {
	background-color: white;
}

address {
	font-size: 14px;
	font-style: normal;
	text-transform: lowercase;
}

fieldset {
	border-color: #88b388;
}
.gmap {

}

.newsletter {

	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	border-radius: 5px;
}

.contact {

	text-transform: uppercase;

}

.contact a {
	color:black;
	text-decoration: none;
}

.contact a:hover {
	text-decoration: none;
}

#copyright {
	background-color: #88b388;
}
#copyright p {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	color: white;
	margin-top: 10px;

}



/* 
.email, .nom, .prenom, .submit {
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	text-align: center;
	width:300px;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
*/



/* ---------------------------------------------------------
---------- pour faire les CSS dansn le champ INPUT ---------
----------- utiliser directement le selecteur logique ------ 
----------- et son type ou name  --------------------------- 
-----------------------------------------------------------*/

.newsletter form input[type=email], .newsletter form input[type=text] {
	
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	text-align: center;
	width:300px;
	padding-bottom: 2px;
	margin-bottom: 5px;

}
.newsletter form input[type=submit] {
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	text-align: center;
	width:300px;
	padding-bottom: 2px;
	margin-bottom: 5px;
	width:304px;
}

/* --------------------------------------------------------
-------------------------------------------------------*/












