*{
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
body{
	font-size: 1.6em;
	font-family: sans-serif;
	color: #fff;
}
ul,ol{
	list-style-type: none;
	width:100%;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4{
	font-weight: lighter;
}

header {
	width:100%;
}
/*li {
	width: calc(100%/3);
	float:left;
	display:inline-block;
	color: black;
	text-align: center;
}*/
li.menu {
	width: calc(100%/3 - 2rem);
	position:relative;
	float:left;
	display:inline-block;
	background-color: #ccc;
	text-align: center;
	margin: 0 1rem;
	padding:2rem 0;
}
li.menu:hover {
	background-color: gray;
}
li a {
	text-decoration:none;
	color:black;
}
li a:hover {
	text-decoration:none;
	color:white;
}
ul.submenubar {
	position:absolute;
	top:60px;
	display:none;
}
li.submenu {
	background-color: #eee;
	padding:1rem 0;
}
li.submenu:hover {
	background-color: gray;
}
.active {
	background-color: black;
	color:white;
}
