/*##################*/
/*#### General #####*/
/*##################*/

*, h1, h2, h3, p {
	/* Réinitialiser les margins et paddings */
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; /* Modifier la valeur 1rem = 10px */
}

body {
	width: 100%;
	background: #061339;
}

/*##################*/
/*#### Header  #####*/
/*##################*/
header {
	margin:auto;
}
header div.home {
	width: 70%;
	margin:0 auto;

}
header div.home p {
    font-family: 'Merienda', cursive;
    font-size: 1.3em;
    color: #FFF;
    padding: 0.5em 0;
}

h1 {
	font-family: 'Merienda', cursive;
	font-size: 4rem;
	color: #FFF;
	padding:2.2em 0;
	text-align: center;
    text-shadow: 4px 4px 4px #000;
}

header div.title {
	width: 100%;
	background: url('../img/background.jpg') repeat-x;
}


/*########################*/
/*##### Main Section #####*/
/*########################*/

section {
	background-color:#eee;
	width: 100%;

}
section .principal {
	width:80%;
	margin:0 auto;
}


/*#########################*/
/*#### Parti formulaire ###*/
/*########################*/
aside {
	width: 38%;
	margin:2em auto;
	display: inline-block;
	vertical-align: top;
}
aside form {
	width: 70%;
	margin:0 auto;
}
aside form fieldset h2 {
	font-family: 'Merienda', cursive;
	font-size: 2rem;
	text-align:center;
	padding-bottom: 1rem;
	color: #2F4073;
	border:0;
}
aside fieldset {
	padding:0.5em;
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding:1em;
}

aside fieldset label {
	margin:1rem;
}
aside fieldset p {
	color:red;
}
aside form input, 
aside form select,
aside form textarea {
	width:100%;
}
aside form input[type="submit"] {
	background-color: green;
	color:white;
	border-radius: 5px;
	border:0;
}
aside form select {
	border-radius: 4px;
	border: 1px solid #ccc;
	padding-left:.5rem;
}
aside form textarea {
	border-radius: 4px;
	border: 1px solid #ccc;
	padding:.5em;
}

/*########################*/
/*######## Slide  ########*/
/*########################*/

div.chatSlide {
	width: 60%;
	display: inline-block;
	margin: 2em 0;
}
div.chatSlide img {
	width: 100%;
}

/*################################*/
/*######## Article En bas ########*/
/*################################*/

article {
	background-color: #dddddd;
	width: 100%
}

article div {
	width:72%;
	margin: 0 auto;
}
article div h2 {
	font-family: 'Merienda', cursive;
	color: #2F4073;
	padding-top: 1em;
}

article div p {
	width:48%;
	display: inline-block;
	margin: 1em auto;
	vertical-align: top;
	padding-right: 1em;
}

article div.teteChat {
	width:48%;
	display: inline-block;
}
article div img {
	width:100%;
	display: inline-block;
	vertical-align: top;
	padding-right: 1em;
	padding:0;
	background: #7885A5;

}

article div img:hover {
	background-color: #061339;
}


/*########################*/
/*######## Footer ########*/
/*########################*/

footer {
	color:white;
	text-align: right;
	font-family: arial, sans-serif;
	font-size: 1em;
	padding-right:.5em;
}


/*#############################*/
/*######## Error Script ########*/
/*##############################*/
.errorListe {
	color:red;
	margin:0.5rem auto;
	padding-left:.5rem;
}
.error {
	color: red;
	margin:0.5rem auto;
	padding-left:.5rem;
}

.valid {
	color:green;
	border-radius: 3px;
}


/* Requête média (du petit écran au grand écran) */

/* Mobile & Tablette */
@media screen and (min-width: 200px) and (max-width: 768px) {
	
	h1 {
		font-size: 3rem;
		padding: 1.5em;
	}

	/* Partie formulaire */
	aside {
		width:100%;
		margin:0;
	}
	aside form {
		width:100%;
	    margin-top: 1.5rem;
	}
	aside form h2 {
		font-size: 1.5em;
		text-align: center;
		padding:1em;
		margin:0;
	}
	/* Partie Slide */
	div.chatSlide {
   		width: 100%;
   		margin: 2rem auto;
	}

	/* Partie Article en Bas */
	article div h2 {
		font-size: 1.5em;
		text-align: center;
		padding:0.5em 0;
	}
	article div p {
		font-size: 1em;
		margin: 0 auto;
		width: 100%;
		padding:0;
	}
	article div img {
		font-size: 1em;
		width: 100%;
		margin: 0 auto;

	}
	article div.teteChat {
    	width: 100%
	}


}
